.halaman-utama--FPF {
  background-color: #ffffff;
  height: 189.3rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .auto-group-kjyq-G3T {
    align-items: center;
    display: flex;
    height: 7.3rem;
    left: 8.5rem;
    position: absolute;
    top: 2.3rem;
    width: 127.4rem;

    .monday-november-06-2023-Hcm {
      color: #000000;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.1725;
      margin-right: 20.3rem;
      white-space: nowrap;
    }
    .deadlinews-Lqw {
      color: #3991c9;
      flex-shrink: 0;
      font-family: Secular One, 'Source Sans Pro';
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.455;
      margin-right: 8.5rem;
      white-space: nowrap;
    }
    .c-say {
      color: #000000;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.1725;
      margin: 0rem 1rem 0.3rem 0rem;
      white-space: nowrap;
    }
    .icons8-forecast-96-1-2cH {
      flex-shrink: 0;
      height: 2.5rem;
      margin: 0rem 3.1rem 0.4rem 0rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.5rem;
    }
    .english-wDT {
      color: #000000;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.1725;
      margin-right: 3.5rem;
      white-space: nowrap;
    }
    .icons8-linkedin-96-1-UjB {
      flex-shrink: 0;
      height: 5rem;
      margin-bottom: 0.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 5rem;
    }
    .icons8-twitter-squared-96-1-c4h {
      flex-shrink: 0;
      height: 5rem;
      margin-bottom: 0.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 5rem;
    }
    .icons8-instagram-96-1-jv1 {
      flex-shrink: 0;
      height: 5rem;
      margin-bottom: 0.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 5rem;
    }
  }
  .auto-group-wdpq-G9F {
    height: 6rem;
    left: 8.4rem;
    position: absolute;
    top: 10.8rem;
    width: 127.2rem;

    .item--NCH {
      height: 6rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 127.1rem;

      .rectangle-1-7ff {
        background-color: #3991c9;
        border: solid 0.1rem #000000;
        border-radius: 1.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        height: 6rem;
        width: 100%;
      }
    }
    .rectangle-2-nWu {
      background-color: #174461;
      border-radius: 1.5rem 0 0 1.5rem;
      height: 6rem;
      left: 0.1rem;
      position: absolute;
      top: 0;
      width: 16rem;
    }
    .rectangle-3-h85 {
      background-color: #3991c9;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      height: 6rem;
      left: 16.1rem;
      position: absolute;
      top: 0;
      width: 16rem;
    }
    .rectangle-5-pyP {
      background-color: #3991c9;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      height: 6rem;
      left: 47.8rem;
      position: absolute;
      top: 0;
      width: 16rem;
    }
    .rectangle-7-NED {
      background-color: #3991c9;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      height: 6rem;
      left: 80rem;
      position: absolute;
      top: 0;
      width: 16rem;
    }
    .rectangle-8-6g1 {
      background-color: #3991c9;
      border: solid 0.1rem #000000;
      border-radius: 0 1.5rem 1.5rem 0;
      box-sizing: border-box;
      height: 6rem;
      left: 112.2rem;
      position: absolute;
      top: 0;
      width: 15rem;
    }
    .featured-oKX {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 2.9rem;
      left: 3.7rem;
      line-height: 1.1725;
      position: absolute;
      top: 1.6rem;
      white-space: nowrap;
      width: 9.5rem;
    }
    .world-gu7 {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 2.9rem;
      left: 21rem;
      line-height: 1.1725;
      position: absolute;
      top: 1.6rem;
      white-space: nowrap;
      width: 6.3rem;
    }
    .indonesia-PYd {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 2.9rem;
      left: 35.3rem;
      line-height: 1.1725;
      position: absolute;
      top: 1.6rem;
      white-space: nowrap;
      width: 10.5rem;
    }
    .sports-6hw {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 2.9rem;
      left: 52.3rem;
      line-height: 1.1725;
      position: absolute;
      top: 1.6rem;
      white-space: nowrap;
      width: 7.1rem;
    }
    .business-bub {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 2.9rem;
      left: 66.5rem;
      line-height: 1.1725;
      position: absolute;
      top: 1.6rem;
      white-space: nowrap;
      width: 9.8rem;
    }
    .technology-KKo {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 2.9rem;
      left: 81.8rem;
      line-height: 1.1725;
      position: absolute;
      top: 1.6rem;
      white-space: nowrap;
      width: 12.3rem;
    }
    .travel-okm {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 2.9rem;
      left: 101.3rem;
      line-height: 1.1725;
      position: absolute;
      top: 1.6rem;
      white-space: nowrap;
      width: 6.4rem;
    }
    .more-XRs {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 2.9rem;
      left: 116.8rem;
      line-height: 1.1725;
      position: absolute;
      top: 1.6rem;
      white-space: nowrap;
      width: 5.6rem;
    }
  }
  .auto-group-jfjq-ciD {
    align-items: flex-start;
    display: flex;
    height: 80.5rem;
    left: 8.4rem;
    position: absolute;
    top: 18.8rem;
    width: 127.1rem;

    .auto-group-qekb-LeD {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      margin-right: 1rem;
      width: 70rem;

      .auto-group-ksvw-561 {
        align-items: center;
        background-color: #2b9bcc;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        height: 39.5rem;
        margin-bottom: 1.5rem;
        padding-right: 7.8rem;
        width: 100%;

        .rectangle-9-1EZ {
          flex-shrink: 0;
          height: 39.5rem;
          margin-right: 2.4rem;
          object-fit: cover;
          vertical-align: top;
          width: 40rem;
        }
        .auto-group-cgov-M3X {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: calc(100% - 3.2rem);
          margin: 1.9rem 0rem 1.3rem 0rem;

          .world-GwB {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.1725;
            margin: 0rem 0rem 3rem 0.2rem;
            text-decoration-line: underline;
            white-space: nowrap;
          }
          .israel-ancam-dunia-internasional-anda-bersama-kami-atau-harmas-jiH {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.1725;
            margin: 0rem 0rem 7rem 0.2rem;
            max-width: 19.6rem;
          }
          .updated-3-hours-ago-qFX {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            white-space: nowrap;
          }
        }
      }
      .auto-group-n8ku-wpM {
        align-items: center;
        background-color: #2b9bcc;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        height: 39.5rem;
        padding: 0.1rem 9.2rem 0rem 0.1rem;
        width: 100%;

        .ilustrasi-hujan169-1-sT7 {
          flex-shrink: 0;
          height: 39.4rem;
          margin-right: 2.3rem;
          object-fit: cover;
          vertical-align: top;
          width: 39.9rem;
        }
        .auto-group-g4ut-CVP {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: calc(100% - 3.6rem);
          margin: 2.1rem 0rem 1.5rem 0rem;

          .indonesia-XGm {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.1725;
            margin: 0rem 0rem 3rem 0.3rem;
            text-decoration-line: underline;
            white-space: nowrap;
          }
          .bmkg-sebut-jabodetabek-sudah-masuk-awal-musim-hujan-Ews {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.1725;
            margin: 0rem 0rem 10.1rem 0.3rem;
            max-width: 18.2rem;
          }
          .live-updates-YBs {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-tyh9-rTT {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 56.1rem;

      .auto-group-thp9-CXK {
        align-items: center;
        background-color: #ffffff;
        border: solid 0.1rem #2b9bcc;
        border-radius: 2rem;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        padding: 0.8rem 1.1rem 1.2rem 3.2rem;
        width: 100%;

        .search-LNd {
          color: rgba(0, 0, 0, 0.6000000238);
          flex-shrink: 0;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.1725;
          margin: 0.5rem 38.8rem 0rem 0rem;
          white-space: nowrap;
        }
        .icons8-search-96-1-TTF {
          flex-shrink: 0;
          height: 5rem;
          object-fit: cover;
          vertical-align: top;
          width: 5rem;
        }
      }
      .auto-group-ex3m-9ay {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding-top: 2.4rem;
        row-gap: 2.4rem;
        width: 100%;

        .auto-group-onvp-V93 {
          align-items: center;
          background-color: #2b9bcc;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 15rem;
          margin-right: 0.5rem;
          padding-right: 1.4rem;
          width: calc(100% - 0.5rem);

          .image-4-1NH {
            flex-shrink: 0;
            height: 15rem;
            margin-right: 1.5rem;
            object-fit: cover;
            vertical-align: top;
            width: 15rem;
          }
          .auto-group-k4od-wWq {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: calc(100% - 0.9rem);
            margin: 0.4rem 0rem 0.5rem 0rem;

            .business-H4u {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.1725;
              margin-bottom: 1.2rem;
              text-decoration-line: underline;
              white-space: nowrap;
            }
            .habis-tiktok-ditutup-terbit-phk-indus-logistik-1Fo {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.1725;
              margin-bottom: 4.5rem;
              max-width: 33.9rem;
            }
            .live-updates-KGV {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.1725;
              margin-left: 29.1rem;
              white-space: nowrap;
            }
          }
        }
        .auto-group-d93y-S6D {
          align-items: center;
          background-color: #2b9bcc;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 15rem;
          margin-right: 0.5rem;
          padding-right: 0.9rem;
          width: calc(100% - 0.5rem);

          .image-3-jr1 {
            flex-shrink: 0;
            height: 15rem;
            margin-right: 1.5rem;
            object-fit: cover;
            vertical-align: top;
            width: 15rem;
          }
          .auto-group-vemr-sxD {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: calc(100% - 0.8rem);
            margin: 0.3rem 0rem 0.5rem 0rem;

            .sports-1Hj {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.1725;
              margin-bottom: 1.1rem;
              text-decoration-line: underline;
              white-space: nowrap;
            }
            .persib-mulai-bersiap-hadapi-arema-fc-klok-dan-dedi-siap-kembali-wBP {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.1725;
              margin: 0rem 0rem 4.7rem 0.1rem;
              max-width: 34.8rem;
            }
            .updated-1-hour-ago-qGm {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.1725;
              margin-left: 24.7rem;
              white-space: nowrap;
            }
          }
        }
        .auto-group-gviw-LzD {
          align-items: flex-start;
          background-color: #2b9bcc;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          margin-right: 0.5rem;
          padding-right: 1.6rem;
          width: calc(100% - 0.5rem);

          .image-2-5wo {
            flex-shrink: 0;
            height: 15rem;
            margin-right: 1.8rem;
            object-fit: cover;
            vertical-align: top;
            width: 15rem;
          }
          .auto-group-444t-EJu {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 0.2rem;

            .technology-adf {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.1725;
              margin-bottom: 0.6rem;
              text-decoration-line: underline;
              white-space: nowrap;
            }
            .perangkat-audio-hi-future-serbu-indonesia-ada-wireless-speaker-hingga-tws-JpZ {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.1725;
              margin-bottom: 2.2rem;
              max-width: 36.2rem;
            }
            .updated-1-day-ago-C9F {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.1725;
              margin-left: 24.4rem;
              white-space: nowrap;
            }
          }
        }
        .auto-group-z95u-uZT {
          align-items: center;
          background-color: #2b9bcc;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 15rem;
          margin-right: 0.2rem;
          padding-right: 1.9rem;
          width: calc(100% - 0.2rem);

          .image-5-SZP {
            flex-shrink: 0;
            height: 15rem;
            margin-right: 1.8rem;
            object-fit: cover;
            vertical-align: top;
            width: 15rem;
          }
          .auto-group-f4yz-bBP {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: calc(100% - 1.2rem);
            margin: 0.5rem 0rem 0.7rem 0rem;

            .health-7vR {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.1725;
              margin-bottom: 1.2rem;
              text-decoration-line: underline;
              white-space: nowrap;
            }
            .kebiasaan-buruk-yang-bisa-merusak-tulang-3p5 {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.1725;
              margin-bottom: 4.2rem;
              max-width: 33.9rem;
            }
            .updated-1-day-ago-ySq {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.1725;
              margin-left: 24.4rem;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .auto-group-2e8t-pTT {
    align-items: center;
    background-color: #2b9bcc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 39.6rem;
    left: 9.9rem;
    padding: 2.4rem 6.8rem 5rem 10.4rem;
    position: absolute;
    top: 148.3rem;
    width: 72rem;

    .kolom-komentar-6fs {
      color: #ffffff;
      flex-shrink: 0;
      font-family: Righteous, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2425;
      margin: 0rem 30rem 3.8rem 0rem;
      white-space: nowrap;
    }
    .auto-group-rmoz-QwT {
      align-items: flex-start;
      display: flex;
      flex-shrink: 0;
      width: 100%;

      .nama-komentar--Avd {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Righteous, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2425;
        margin-right: 1.5rem;
        max-width: 12.1rem;
      }
      .auto-group-wjio-h9s {
        flex-shrink: 0;
        height: 24.8rem;
        margin-top: 0.6rem;
        position: relative;
        width: 41.2rem;

        .rectangle-142-Efb {
          background-color: #d9d9d9;
          height: 19.8rem;
          left: 0;
          position: absolute;
          top: 5rem;
          width: 41.2rem;
        }
        .frame-1-2LZ {
          height: 10rem;
          left: 2rem;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 10rem;
        }
        .rectangle-143-7so {
          background-color: #d9d9d9;
          height: 3.6rem;
          left: 0;
          position: absolute;
          top: 0;
          width: 25.6rem;
        }
      }
    }
  }
}
